{%extends 'main_base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 style="color: white; text-align: center;">Heart Disease</h1>
        {%for blog in topic%}
        {%if blog.category == 'Heart Disease'%}

        <div class="card" style="width: 100%;">
            <h3 class="card-title" style="text-align: center;">Title : <b>{{blog.title}}</b></h3>
            <img src="{{blog.image.url}}" class="card-img-top" alt="...">
            <p id="truncateMe"><b>Summary</b> : {{blog.summary}}</p>
            <p><b>Content</b> : {{blog.content}}
            <p><b>Posted by</b> : {{blog.author}}</p>

        </div>
        <br><br><br>
        {%endif%}
        {%endfor%}
    </div>

    <div class="col-3"></div>
</div>


<script type="text/javascript">

    var len = 11;
    var p = document.getElementById("truncateMe");
    if (p) {

      var trunc = p.innerHTML;
      if (trunc.length > len) {


        trunc = trunc.substring(0, len);
        trunc = trunc.replace(/\w+$/, '');


        trunc += '<a href="#" ' +
          'onclick="this.parentNode.innerHTML=' +
          'unescape(\''+escape(p.innerHTML)+'\');return false;">' +
          '...<\/a>';
        p.innerHTML = trunc;
      }
    }


</script>


{%endblock%}