<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>

<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" id="nav0" href="#"><b>Doc&Pat</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-links">
                {%if request.user.is_Doctor%}
                <li class="nav-item">
                    <a class="nav-link active" id="nav1" aria-current="page" href="{%url 'dr_dash'%}"><b>Home</b></a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link active" id="nav2" aria-current="page" href="{%url 'pat_dash'%}"><b>Home</b></a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link active" id="nav3" href="{%url 'all-blogs'%}"><b>All Blogs</b></a>
                </li>

                {%if request.user.is_Doctor%}
                <li class="nav-item">
                    <a class="nav-link active" id="nav4" href="{%url 'post_blog'%}"><b>Add Blog</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="nav5" href="{%url 'user_blogs'%}"><b>My Blogs</b></a>
                </li>
                {%endif%}


            </ul>
            <form class="d-flex" role="search" id="nav6">
                <img src="{{request.user.pro_pic.url}}" height="45px" width="45px" class="mt-2 me-2" id="user_dp">

                {%if request.user.is_Doctor%}
                <a class="nav-link me-4 mt-3" href="{%url 'doc-details'%}"><b>Hi,{{request.user}}</b></a>
                {%else%}
                <a class="nav-link me-4 mt-3" href="{%url 'pat-details'%}"><b>Hi,{{request.user}}</b></a>
                {%endif%}


                <a href="{%url 'signout'%}" class="btn-grad1" id="logout-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd"
                              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                    Logout</a>



            </form>
        </div>
    </div>
</nav>

</body>
<div class="container">
    {%block body_block%}
    {%endblock%}
</div>
</html>