asgiref==3.5.0
distlib==0.3.4
dj-database-url==1.0.0
Django==4.0.3
django-ckeditor==6.4.0
django-crispy-forms==1.14.0
django-filter==21.1
django-heroku==0.3.1
django-js-asset==2.0.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
filelock==3.6.0
gunicorn==20.1.0
mysqlclient==2.1.1
numpy==1.23.2
pandas==1.4.3
Pillow==9.1.0
platformdirs==2.5.1
psycopg2==2.9.3
PyJWT==2.4.0
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
six==1.16.0
sqlclient==21.4.24
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.14.0
whitenoise==6.2.0
