
<html lang="en">
{%extends 'main_base.html'%}
{%block body_block%}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <a href="{%url 'dr_dash'%}">Home</a>
            {%for blog in blogs%}

            <div class="card" style="width: 18rem;">
                <img src="{{blog.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>

                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item"> {{blog.summary}} <li>
                    <li class="list-group-item"> {{blog.content}} <li>

                </ul>

            </div>
            {%endfor%}
        </div>

        <div class="col-2"></div>
    </div>


{%endblock%}